@using FakeSmtp
@using FakeSmtp.TestEmailHelper

<style>
	span.green-on {
		color: green; 
		padding:0 19px 0 10px;
		-ms-opacity: 0.5;
		opacity: 0.5;
	}

	span.red-off {
		color: red; 
		padding:0 10px;
		-ms-opacity: 0.5;
		opacity: 0.5;
	}
</style>


<nav class="navbar navbar-default navbar-fixed" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">FAKE SMTP @Html.Raw(EmailHelper.Status ? "<span class='green-on'>ON</span>" : "<span class='red-off'>OFF</span>")</a>
		</div>
		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
                <li class="@(ViewContext.RouteData.Values["action"].ToString() == "Headers" ? "active" : "")">
					<a class="link" asp-controller="Home", asp-action="Headers">Headers</a>
                </li>

                <li class="@(ViewContext.RouteData.Values["action"].ToString() == "Messages" ? "active" : "")">
                    <a class="link" asp-controller="Home" asp-action="Messages">Messages</a>
                </li>
				<li class="@(ViewContext.RouteData.Values["action"].ToString() == "Settings" ? "active" : "")">
                    <a class="link" asp-controller="Home" asp-action="Settings">Settings</a>
				</li>
                @*<li class="@(ViewContext.RouteData.Values["action"].ToString() == "Chat" ? "active" : "")">
                    @Html.ActionLink("Chat", "Chat", "Home")
                </li>*@
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="http://nexonma" style="padding: 7px 25px 6px;">
                        <img src="/Content/Sentrada-logos_black.png" height="64px" width="64px"/>
                    </a>
				</li>
			</ul>
		</div>
	</div>
</nav>	